/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
    color: var(--text-display, #080E52); /* Text color */
    -webkit-text-stroke-width: 8px; /* Stroke width */
    -webkit-text-stroke-color: var(--neutrals-basse-white, #FCFCFC); /* Stroke color */
  }